*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --primary-color: #AD82FF;
    --bg-gray-color: #f0f8ff;
    --black-color: #232323;
    --gray-color: #848484;
    --white-color: #fff;
    --light-gray: #eee;
}

body{
    font-family: "Source Sans Pro", sans-serif;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: var(--light-gray);
}

::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}

.main-btn{
    margin-top: 2.5rem;
}

.main-btn button{
    background: var(--primary-color);
    padding: 0.725rem 1.75rem;
    color: var(--white-color);
    outline: none;
    border: 2px solid transparent;
    border-radius: 1.25rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    cursor: pointer;
}

.text-center{
    text-align: center;
}

/* Header css */

nav{
    position: fixed;
    width: 100%;
    padding: 1.25rem 0;
    z-index: 999;
    transform: all 0.3s ease;
}

nav .navbar .logo a{
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 600;
}

nav .navbar .logo.active a{
    color: var(--black-color);
}

nav .navbar .logo_text{
    color: var(--primary-color);
}

nav.sticky{
    background-color: var(--white-color);
    padding: 0.8rem 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}

nav .navbar{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

nav .navbar .menu{
    display: flex;
    position: relative;
}

nav .navbar .menu li{
    list-style: none;
    margin: 0.1rem;
}

nav .navbar .menu li a{
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--white-color);
    padding: 0.375rem 0;
    transition: all 0.4s ease;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
}

nav .navbar .menu li a:hover{
    color: var(--white-color);
}

nav.sticky .navbar .menu li a{
    color: var(--black-color);
}

nav.sticky .navbar .menu li a:hover{
    color: var(--primary-color);
}

/* side menu */
nav .menu-btn,
nav .menu .cancel-btn{
    position: absolute;
    color: var(--primary-color);
    right: 1.875rem;
    top: 1.25rem;
    transition: all 0.4s ease;
    display: none;
}

nav .menu-btn{
    color: var(--primary-color);
}

nav .navbar .menu li a{
    font-size: 1.4rem;
    color: var(--primary-color);
    display: block;
    margin: 0.625rem 1rem ;
    cursor: pointer;
}
/* Top banner design */
.home .top-banner{
    width: 100%;
    height: 100vh;
    background: url(../images/slider-bg-1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.home .top-banner .content{
    margin: auto;
    width: 100%;
}
 
.home .top-banner .text{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .top-banner .text h1{
    font-size: 3.25rem;
    color: var(--white-color);
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.home .top-banner .text p{
    font-size: 1rem;
    line-height: 1.4rem;
    color: var(--white-color);
    margin-bottom: 2.1rem;
    width: 40%;
    margin: auto;
    display: block;
}

